{% extends 'layout.html' %} {% block body %}
<style>
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th, td {
  padding: 15px;
}

@media print{
  body{
    visibility: hidden;
  }
  .print-container, .print-container{
    visibility: visible;
  }
}
</style>
<div  class="print-container">
<h3 style="text-align:center">Agrifriend MSP </h3><br>
<center>
{% for table in tables %}
            <!-- {{titles[loop.index]}} -->
            {{ table|safe }}
{% endfor %}
</center>

</div><br>
<center><button class="btn btn-success" onclick="window.print()">Print The Suggestion</button></center>
{% endblock %}