{% extends 'layout.html' %} {% block body %}
<style>

</style>

<section class="work">
	<h3 class="heading mb-sm-5 mb-4 text-center"> Recommendation Video</h3>
	
	
	<div class="row">
	<div class="work-col">
<div><iframe width="260" height="315" src="https://www.youtube.com/embed/W3P9deLFkk8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	</div>
	<div class="work-col">
	 <div><iframe width="260" height="315" src="https://www.youtube.com/embed/NCyNPwD_MNQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	  </div>
	  <div class="work-col">
		<div><iframe width="260" height="315" src="https://www.youtube.com/embed/qHIKRwYe3Cs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
		</div>
    	<div class="work-col">
 <div><iframe width="260" height="315" src="https://www.youtube.com/embed/lt1vnLJu1GU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	</div>

      	<div class="work-col">
     <div><iframe width="260" height="315" src="https://www.youtube.com/embed/HqAUr41NsJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>   
	</div>
        	<div class="work-col">
          <div><iframe width="260" height="315" src="https://www.youtube.com/embed/FNn5DB1Zen4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
	</div>
          	<div class="work-col">
	</div>
            	<div class="work-col">
              	</div>
              	<div class="work-col">
                	</div>
	  </div>
	  </section>
{% endblock %}